{ pkgs, ...}:
{
  home.packages = with pkgs; [
    diff-so-fancy # fancy diffs ( for git )
  ];
  programs = {
    git = {
      enable = true;
      userName = "{{ .githubUsername }}";
      userEmail = "{{ .email }}";
      extraConfig = {
        core = {
          editor = "vim";
          pager = "diff-so-fancy | bat";
        };
        init = {
          defaultBranch = "main";
        };
        pull = {
          rebase = "true";
        };
        rebase = {
          autoStash = "true";
        };
        merge = {
          conflictStyle = "diff3";
        };
        diff = {
          colorMoved = "default";
        };
        interactive = {
          diffFilter = "diff-so-fancy --patch";
        };
        url= {
          "ssh://git@github.com" = {
            insteadOf = "https://github.com";
          };
        };
      };
    };
    lazygit.enable = true;
  };
}
