{ pkgs, ...}:
{
  home.packages = with pkgs; [
    diff-so-fancy # fancy diffs ( for git )
  ];
  programs = {
    git = {
      enable = true;
      userName = "{{ .githubUsername }}";
      userEmail = "{{ .email }}";
      extraConfig = {
        core = {
          editor = "vim";
          pager = "diff-so-fancy | bat";
        };
        init = {
          defaultBranch = "main";
        };
        pull = {
          rebase = "true";
        };
        push = {
          autoSetupRemote = true;
        };
        rebase = {
          autoStash = "true";
        };
        merge = {
          conflictStyle = "diff3";
        };
        diff = {
          colorMoved = "default";
        };
        interactive = {
          diffFilter = "diff-so-fancy --patch";
        };
        url= {
          "ssh://git@github.com" = {
            insteadOf = "https://github.com";
          };
        };
      };
    };
    lazygit = {
      enable = true;
      settings = {
        gui = {
          theme = {
            activeBorderColor = [ "#cba6f7" "bold" ];
            inactiveBorderColor = [ "#a6adc8" ];
            optionsTextColor = [ "#89b4fa" ];
            selectedLineBgColor = [ "#313244" ];
            cherryPickedCommitBgColor = [ "#45475a" ];
            cherryPickedCommitFgColor = [ "#cba6f7" ];
            unstagedChangesColor = [ "#f38ba8" ];
            defaultFgColor = [ "#cdd6f4" ];
            searchingActiveBorderColor = [ "#f9e2af" ];
          };
          authorColors = {
            "*" = "#b4befe";
          };
        };
      };
    };
    gh = {
      enable = true;
      extensions = with pkgs; [
        gh-copilot  # github copilot
        gh-dash # dashboard
        gh-eco # explore the ecosystem
        gh-markdown-preview # preview md
      ];
      settings = {
        git_protocol = "ssh";
        editor = "code";
        prompt = "enabled";
        pager = "bat";
        aliases = {
          md = "markdown-preview";
        };
      };
    };
  };
}
