{ pkgs, ... }:
{
  home.packages = with pkgs; [
    diff-so-fancy # fancy diffs ( for git )
    git-absorb # magic git fixup
    act # run github action locally
  ];
  programs = {
    git = {
      enable = true;
      settings = {
        core = {
          editor = "vim";
          pager = "diff-so-fancy | bat";
        };
        diff = {
          colorMoved = "default";
        };
        init = {
          defaultBranch = "main";
        };
        interactive = {
          diffFilter = "diff-so-fancy --patch";
        };
        merge = {
          conflictStyle = "diff3";
        };
        pull = {
          rebase = "true";
        };
        push = {
          autoSetupRemote = true;
        };
        rerere = {
          enabled = "true";
        };
        rebase = {
          autoStash = "true";
        };
        url = {
          "ssh://git@github.com" = {
            insteadOf = "https://github.com";
          };
        };
        user = {
          name = "{{ .githubUsername }}";
          email = "{{ .email }}";
        };

      };
    };
    lazygit = {
      enable = true;
      settings = {
        git = {
          ignoreWhiteSpaceInDiffView = true;
          parseEmoji = true;
        };
        gui = {
          shortTimeFormat = "16:00";
          timeFormat = "2011-08-31 16:00";
          nerdFontsVersion = 3;
          filterMode = "fuzzy";
        };
        update.method = "never"; # handled by nix
      };
    };
    gh = {
      enable = true;
      extensions = with pkgs; [
        gh-copilot # github copilot
        gh-dash # dashboard
        gh-eco # explore the ecosystem
        gh-markdown-preview # preview md
      ];
      settings = {
        git_protocol = "ssh";
        editor = "code";
        prompt = "enabled";
        pager = "bat";
        aliases = {
          md = "markdown-preview";
        };
      };
    };
  };
}
