{{- $email := "" -}}
{{- if hasKey . "email" -}}
{{-   $email = .email -}}
{{- else -}}
{{-   $email = promptString "email" -}}
{{- end -}}

{{- $username := "" -}}
{{- if hasKey . "username" -}}
{{-   $username = .username -}}
{{- else -}}
{{-   $username = promptString "username" -}}
{{- end -}}

{{- $githubUsername := "" -}}
{{- if hasKey . "githubUsername" -}}
{{-   $githubUsername = .githubUsername -}}
{{- else -}}
{{-   $githubUsername = promptString "githubUsername" -}}
{{- end -}}

[data]
    email = {{ $email | quote }}
    username = {{ $username | quote}}
    githubUsername = {{ $githubUsername | quote }}
    
[git]
    autoCommit = true
    autoPush = true

[edit]
    command = "nvim"