#!/usr/bin/env zsh

# .zshrc hash: {{ include "dot_zshrc" | sha256sum }}

if [[ -a ~/.zshrc && ( $(basename $SHELL) = "zsh" )]]
then
  echo "Changes detected sourcing .zshrc"
  start_dir=$PWD
  cd ~
  source ~/.zshrc
  cd $start_dir
fi
