#!/usr/bin/env zsh

LOG_LEVEL=${LOG_LEVEL:-info}
GUM_LOG_LEVEL=$LOG_LEVEL

source logging.zsh

_debug "Sourced logging.zsh"

# source zshrc
_info "Reload .zshrc : start"
source $HOME/.zshrc
_info "Reload .zshrc : done"

_debug "Checking env ..."

NIX_AVAILABLE=false
if command -v nix >/dev/null 2>&1; then
  NIX_AVAILABLE=true
fi

HOME_MANAGER_AVAILABLE=false
if command -v home-manager >/dev/null 2>&1; then
  HOME_MANAGER_AVAILABLE=true
fi

ZINIT_AVAILABLE=false
if (( ${+functions[zinit]} )); then
  ZINIT_AVAILABLE=true
fi

_debug "Env check done : NIX_AVAILABLE=$NIX_AVAILABLE, HOME_MANAGER_AVAILABLE=$HOME_MANAGER_AVAILABLE, ZINIT_AVAILABLE=$ZINIT_AVAILABLE"

_info "Updating Home ..."

if $NIX_AVAILABLE; then
  _task "Update Nix channels" nix-channel --update
else
  _info "nix not found, skipping channel update"
fi

if $HOME_MANAGER_AVAILABLE; then
  _task "Switch Home Manager derivation" $HOME/.nix-profile/bin/home-manager switch -b backup
else
  _info "home-manager not found, skipping home update"
fi

# optionally update zinit plugins
# this may take some toime hence why it's deactivated by default 
if $ZINIT_AVAILABLE; then
  if _confirm "Update zinit plugins ? [y/N]"; then 
    # sometimes completions need to be cleaned up before updating
    _task "Clean up completions" find -L $HOME/.local/share/zinit/completions -type l -exec rm -- {} +  
    zinit update --all -p 8
  fi
else 
  _info "zinit not found, skipping zinit plugins update"
fi

_info "Updating home : done"

