#!/usr/bin/env zsh

if command -v toilet >/dev/null 2>&1; then
  toilet -F border UPDATING
fi

if command -v nix >/dev/null 2>&1; then
  # possibly not avaialable on first run
  if command -v banner >/dev/null 2>&1; then
    toilet NIX
  else
    echo "############ NIX ############"  
  fi
  # update nix packages
  nix-channel --update
fi

# build new derivation
if command -v home-manager >/dev/null 2>&1; then
  toilet HOME
  home-manager switch
fi  

# sometimes completions need to be cleaned up
find -L $HOME/.local/share/zinit/completions -type l -exec rm -- {} +

toilet -F border DONE

source $HOME/.zshrc

